* {
  box-sizing: border-box;
}
html, body {
  margin: 0;
}

/*Typography
font-family: 'Crimson Text', serif;
font-family: 'Cormorant SC', serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Lato', sans-serif;
*/

h1 {
  font-family: 'Cormorant SC', serif;
  letter-spacing: .1em;
  font-size: 50px;
  color: white;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
}
p, h2 {
  margin: 20px;
}
h2 {
  font-family: 'Quicksand', sans-serif;
  color: #6c6c6c;
  margin-left: -12px;
}
p {
  font-family: 'Lato', serif;
  font-weight: 300;
  font-size: 1.1em;
  color: #313131;
  line-height: 200%;
}
a {
  text-decoration: none;
}
a:hover {
  color: #6c6c6c;
}
.click-me {
  font-family: 'Crimson Text', serif;
  color: rgb(152, 90, 64);
}
.navlink {
  font-family: 'Quicksand', sans-serif;
  color: white;
  font-size: 20px;
}
.navlink:hover {
  color: rgb(203, 203, 203);
}

/*Landing Page*/
header {
  height: 650px; /*For fixed-nav .js variable*/
  background-image: url('../images/background.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.name-box {
  float: right;
  padding-right: 5%;
  padding-top: 20%;
}

/*NAVIGATION*/
nav {
  display: table;
  background-color: #964138;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
  height: 50px;
  width: 100%;
  float: left;
  z-index: 1;
}
.nav-scrolled {
  position: fixed;
  top: 0;
}
.navspace {
  height: 50px;
  display: block;
}
.no-nav-space {
  display: none;
}
button {
  width: 120px;
  margin-top: 12px;
  margin-left: 24px;
  background-color: #964138;
  border: none;
}
.navlink {
  padding: 10px 24px;
  text-align: center;
}

/*SECTIONS*/
.section {
  display: block;
  clear: both;
  padding: 0px;
  margin: 0px;
}
.section-block {
  padding-top: 48px;
  padding-bottom: 48px;
  clear: both;
  overflow: auto;
}
/*.xtra-space {
  height: 50px;
  width: 100%;
}*/
.bg-l, .bg-r {
  display: inline-block;
}
.bg-l {
  float: left;
  width: 50%;
}
.bg-r {
  float: right;
  width: 50%;
}
.col-l, .col-r {
  width: 325px;
  padding: 10px;
}
.col-l {
  float: right;
}
.col-r {
  float: left;
}


.trans-img {
  display: relative;
  height: 300px;
  width: 100vw;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#img-1 {
  background-image: url('../images/bird-building.png');
}
#img-2 {
  background-image: url('../images/windy-burrs.jpg');
}
#img-3 {
  background-image: url('../images/sm-many-sams.jpg');
  background-position: bottom;
}



/*ABOUT*/

#headshot {
  width: 250px;
  padding-left: 20px;
}


/*WORK PAGE*/

.center-col {
  margin: auto;
  width: 70%;
  padding: 10px;
}
.thumbnail, .thumb-title {
  width: 100%;
  background-color: #eee;
  display: inline-block;
  margin: 0;
  padding: 0;
}
#gallery-fill {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}




/*RESUME PAGE*/
.talk-btn {
  display: block;
  padding: 10px 20px;
  width: 270px;
  float: right;
}
#resume-pic {
  height: 300px;
  display: block;
  float: left;
  padding-left: 20px;
}


/*CONTACT PAGE*/
#contact {
  background-color: #964138;
}
.contact-block {
  justify-content: center;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

.contact-graf,
#contact-email,
.social-links {
  font-family: 'Quicksand', sans-serif;
  color: white;
  display: table;
  margin: 0 auto;
}

#contact-email {
  padding: 8px 12px;
  border: 1px solid transparent;
  font-size: 40px;
}
#contact-email:hover {
  border: 1px solid white;

}
.social-name {
  font-family: 'Quicksand', sans-serif;
  color: white;
  display: inline;
  baseline-shift: 20px;
}
.social-img {
  height: 30px;
  width: 30px;
  display: inline;
}

.social-click {
  display: inline;
}


@media (max-width: 668px) {
  .trans-img {
    background-attachment: scroll;
  }
  header {
    background-attachment: scroll;
  }
  .social-name {
    font-size: 16px;
  }

}

@media (max-width: 375px) {
  header {
    background-image: url('../images/mobile-shot.png');
    background-attachment: scroll;
    background-position: center;
    height: 100vh;
    width: auto;
  }
  h2 {
    margin-left: 20px;
  }
  .bg-l, .bg-r {
    margin: 0px;
    width: 100%;
  }
  .col-r {
    margin-left: 50px;
  }
  .center-col {
    width: 320px;
  }
  #contact-email {
    font-size: 20px;
  }
  #headshot {
    padding-top: 0px;
  }
  .social-name {
    display: block;
  }
  .talk-btn {
    margin-right: 30px;
  }
  #gallery-fill {
    margin-right: 0px;
  }

}
