a
  text-decoration: none
  color: $sg-white

a:hover
  color: $sg-gray-light

.click-me
  color: $sg-red-light

  &:hover
    color: $sg-red-dark

button
  background-color: $sg-red-dark
  border: none
