
<section id="about">
  <div class="navspace"></div>

  <div class="section-block">

    <div class="bg-l">
      <div class="col-l">
        <h2>Welcome to my Site</h2>

          <p>
          My name is Sam Granger. I'm a web developer and artist with a knack for bringing people together and making insights happen. In the past I've worked as an editor, teacher, marketer, illustrator, and documentary filmwriter. Now, I'm busy being a code architect, creating spaces on the web for information and interaction. My background in cognition always keeps me "thinking about thinking" and thinking about how beautiful design helps us think better. When I'm not working or thinking, I'm usually <a class="click-me" href="https://www.youtube.com/watch?v=b98ItgwIcnU" target="_blank"><strong>playing guitar</strong></a>, learning a new language, or being spending my time in the woods and waters of my home state of Michigan.
        </p>
      </div>
    </div>

    <div class="bg-r">
      <div class="col-r">
          <img id="headshot" src="images/headshot.jpg" />
          <br>
          <br>
          <p>
            I'm always looking for new problems to solve, new projects to take on, and new people to meet. So take a look around and feel free to <a class="click-me" href="#contact"><strong>drop me a line</strong></a>.
          </p>
      </div>
    </div>

  </div>

</section>
