<section id="contact">
  <div class="contact-block">

    <p class="contact-graf">Drop me a line at...</p>
    <br>
    <a id="contact-email" href="MAILTO:samuel.w.granger@gmail.com">samuel.w.granger@gmail.com</a>
    <br>
    <p class="contact-graf">Or find me on ...</p>
    <br>
    <div class="social-links">

      <div class="social-click">
        <a href="https://www.linkedin.com/in/samuelwgranger"  target="_blank">
          <p class="social-name">LinkedIn</p>
          <img class="social-img" src="images/icons/iconmonstr-linkedin-4.svg" />
        </a>
      </div>
      <div class="social-click">
        <a href="https://github.com/samwisegrangee" target="_blank">
          <p class="social-name">GitHub</p>
          <img class="social-img" src="images/icons/github.svg" />
        </a>
      </div>
      <div class="social-click">
        <a href="https://www.instagram.com/samwisegrangee/" target="_blank">
          <p class="social-name">Instagram</p>
          <img class="social-img" src="images/icons/iconmonstr-instagram-1.svg" />
        </a>
      </div>
      <div class="social-click">
        <a href="https://twitter.com/SamwiseGrangee" target="_blank">
          <p class="social-name">Twitter</p>
          <img class="social-img" src="images/icons/iconmonstr-twitter-1.svg" />
        </a>
      </div>
    </div>

  </div>
</section>
