<article id="contact">
  <div class="article-background">
    <h2 class="title">Contact</h2>
    <form action="MAILTO:samuel.w.granger@gmail.com" method="post" enctype="text/plain">
      Name:
      <input id="name" type="text" name="name" placeholder="&nbsp Your name..."><br>
      E-mail:
      <input id="message" type="text" name="mail" placeholder="&nbsp Your email..."><br>
      Message:
      <input id="message" type="text" name="message" placeholder="&nbsp Your message..." ><br><br>
      <input type="submit" value="Send">
      <input type="reset" value="Reset">
      </form>
  </div>
</article>
