<section class="contact" id="contact">
  <div class="navspace"></div>
  <div class="center-col">
    <p class="contact-graf">Drop me a line at...</p>
    <a id="contact-email" href="MAILTO:samuel.w.granger@gmail.com">samuel.w.granger@gmail.com</a>
    <p class="contact-graf">Or find me on ...</p>

    <div class="contact-block">

      <br>

      <br>

      <br>
      <ul class="social-links">
        <li class="social-click">
          <a href="https://www.linkedin.com/in/samuelwgranger"  target="_blank">
            <p class="social-name"><img class="social-img" src="images/icons/iconmonstr-linkedin-4.svg" />&nbsp; LinkedIn</p>
          </a>
        </li>
        <li class="social-click">
          <a href="https://github.com/samwisegrangee" target="_blank">
            <p class="social-name"><img class="social-img" src="images/icons/github.svg" />&nbsp; GitHub</p>
          </a>
        </li>
        <li class="social-click">
          <a href="https://www.instagram.com/samwisegrangee/" target="_blank">
            <p class="social-name"><img class="social-img" src="images/icons/iconmonstr-instagram.svg" />&nbsp; Instagram</p>
          </a>
        </li>
      </ul>

    </div>

    {% include byzantine-wheel.html %}
    {% include byzantine-negative.html %}

  </div>

</section>
