<div class="light-box" id="lightBox">
  <div class="container">
    <h3></h3>
    <div class="modal-content">
      <img src="" alt="">
      <div class="half-wrap">
        <div class="grid-half">

        </div>
        <div class="grid-half">

        </div>

      </div>
    </div>
  </div>
</div>
<section>

  <div class="grid-gallery">
  	<div class="gallery-item a">
  	  <h3>Madcap</h3>
      <img src="images/full-img/madcap-home.png" alt="Madcap Coffee">
      <ul class="credits">
        <li><p>Client: <a href="https://madcapcoffee.com/" target="_blank">Madcap Coffee</a> </p></li>
        <li><p>Team: Design by Conduit Studios & Development by CurlyHost</p></li>
        <li><p>Role: Custom UI Developer</p></li>
        <li><p>Launch: September 2017</p></li>
      </ul>
      <p class="notes">Madcap Coffee is an award-winning roastery located in Grand Rapids, MI. This site was designed by Conduit Studios. I was brought on board with the CurlyHost development team.<br> The majority of my work was developing responsive templates and plugins that were intuitive for both visitors to experience and the client to use. Some of my favorite work on this project was keeping backgrounds lined up with bag labels, custom gradients, generating related products and slideshows on the fly, and responsively dealing with overflow text.</p>
  	</div>
  	<div class="gallery-item b">
      <h3>Costratex</h3>
      <img src="images/full-img/costratex.png" alt="Costratex" target="_blank">
      <ul class="credits">
        <li><p>Client: <a href="https://costratex.com/">Costratex</a> </p></li>
        <li><p>Team: 5 Espressos</p></li>
        <li><p>Role: Front End Developer</p></li>
        <li><p>Launch: April 2018</p></li>
      </ul>
      <p class="notes">5 Espressos contracted me to build a new site for Patrick Davidson and his business Costratex. This site expemplifes a trend in my web work lately: <em>making designs come alive.</em> My JavaScript allows the user to "build" each page while scrolling through it.</p>

  	</div>
  	<div class="gallery-item c">
  	  <h3>Spicy Reads</h3>
      <img src="images/full-img/spicyreads.png" alt="Spicy Reads" target="_blank">
      <ul class="credits">
        <li><p>Client: <a href="http://spicyreads.org/">Ed Spicer of Spicy Reads</a> </p></li>
        <li><p>Role: Designer, Developer & Photographer</p></li>
        <li><p>Launch: July 2017</p></li>
      </ul>
      <p class="notes">Ed Spicer is a retired teacher, a bibliophile, and an old friend. He needed a new site that could direct people to his critical work on children's literature.</p>

  	</div>
  	<div class="gallery-item d">
      <h3>DavenFund</h3>
      <img src="images/full-img/davfund.png" alt="DavenFund">
      <ul class="credits">
        <li><p>Client: <a href="https://www.davenport.edu/" target="_blank">Davenport University</a></p></li>
        <li><p>Team: Davenport Marketing Dept</p></li>
        <li><p>Role: Designer & Developer</p></li>
        <li><p>Launch: February 2017</p></li>
      </ul>
      <p class="notes">Davenport University needed a little social network for their DavenFund initiative. Employees submit proposals for funds to make their work environment better. They can also view the proposals submitted by others. Launched February 2017. <br> I'd give you a link, but it's employees only. If you want to see some more of it, <a href="#contact">get a hold of me.</a></p>

  	</div>
  	<div class="gallery-item e">
      <h3>GitHub</h3>
      <img src="images/full-img/github.png" alt="Codepen">

      <p class="this-alone">Check out my public repositories. Several sites (including this one) are on there. Read my commit histories and fork me on <a href="https://github.com/samwisegrangee" target="_blank">GitHub.</a></p>

  	</div>
  	<div class="gallery-item f">

      <h3>Codepen</h3>
      <img src="images/full-img/codepen.png" alt="Codepen">
      <p class="this-alone">Codepen is my sketchbook for code. If you're curious about what I'm working on these days or if you wanted to see some features I've built in the past, check out <a href="https://codepen.io/samwisegrangee/" target="_blank">my profile.</a></p>

  	</div>
  	<div class="gallery-item g">
  	  <h3>Medium</h3>
      <img src="images/full-img/medium.png" alt="Codepen">

      <p class="this-alone">I've always been a writer. Usually research papers or poems, but now I'm blogging about things I code. Check out my blog about code and the meaning of life on <a href="https://medium.com/a-pond-for-ponderings" target="_blank">Medium.</a></p>

  	</div>
  </div>

</section>
