

  <!--<div class="half-holder">
    <div class="half left-half">
      <div class="content">
        <h2 class="bumped-h">Backstory</h2>
        <p>Like I mentioned above, I bring a lot to the table from of my diverse background. Before coding I was a teacher, an editor, an illustrator, a photographer, a filmmaker, a coffee marketer, and an academic. If you're interested in any of that, check out my resume below.</p>

        <p>If you're interested in more philosophical topics, here are a bunch of talks I've given at various conferences on the side.</p>

        <a class="click-me" href="../{{ site.baseurl }}images/Sam_Granger_Resume_2017.pdf">
          <img id="resume-pic" src="../{{ site.baseurl }}images/resume.png" />
        </a>

      </div>

    </div>

    <div class="half right-half">
      <div class="content">
        <button class="talk-btn">
          <a  href="https://www.youtube.com/watch?v=7DE-Zk_kLYk" target="_blank">For the Life of the World: <br> Letters to the Exiles</a></button>
        <button class="talk-btn">
          <a href="https://www.ancientfaith.com/specials/the_climacus_conference_2017/orthodoxy_and_the_three_wisdoms_of_the_world" target="_blank">Orthodox and the Three Wisdoms of the World</a></button>
        <button class="talk-btn">
          <a href="http://www.lonerganresource.com/audio/contributors/15-LOE2%20(Granger).mp3" target="_blank">LoE 2015: <br> On Being Beautiful</a></button>
        <button class="talk-btn">
          <a href="http://www.lonerganresource.com/audio/contributors/14-LOE06.mp3" target="_blank">LoE 2014: <br> Façadebook</a></button>
        <button class="talk-btn">
          <a href="http://www.ancientfaith.com/specials/the_climacus_conference_2015/beauty_blessed_vision_and_orthodoxy_with_thomas_aquinas" target="_blank">Climacus Conference 2015: <br> Orthodoxy and Aquinas</a></button>
        <button class="talk-btn">
          <a href="https://www.youtube.com/watch?v=SAWOSTUKN1U&feature=youtu.be" target="_blank">Davenport University: <br> Abrahamic Faiths Panel</a></button>
        <button class="talk-btn">
          <a href="http://www.lonerganresource.com/audio/contributors/LOE-2013-06.mp3" target="_blank">LoE 2013: <br> Tale of Two Bernards</a></button>
        <button class="talk-btn">
          <a href="https://hortulus-journal.com/2013/11/01/granger/" target="_blank">Orthodox Readings of Aquinas</a></button>


      </div>

    </div>

  </div>-->










<section class="contact" id="contact">
  <div class="navspace"></div>
  <div class="center-col">
    <p class="contact-graf">Drop me a line at...</p>
    <a id="contact-email" href="MAILTO:samuel.w.granger@gmail.com">samuel.w.granger@gmail.com</a>
    <p class="contact-graf">Or find me on ...</p>

    <div class="contact-block">

      <br>

      <br>

      <br>
      <ul class="social-links">
        <li class="social-click">
          <a href="https://www.linkedin.com/in/samuelwgranger"  target="_blank">
            <p class="social-name"><img class="social-img" src="images/icons/iconmonstr-linkedin-4.svg" />&nbsp; LinkedIn</p>
          </a>
        </li>
        <li class="social-click">
          <a href="https://github.com/samwisegrangee" target="_blank">
            <p class="social-name"><img class="social-img" src="images/icons/github.svg" />&nbsp; GitHub</p>
          </a>
        </li>
        <li class="social-click">
          <a href="https://www.instagram.com/samwisegrangee/" target="_blank">
            <p class="social-name"><img class="social-img" src="images/icons/iconmonstr-instagram.svg" />&nbsp; Instagram</p>
          </a>
        </li>
      </ul>

    </div>



  </div>

</section>
