<section id="resume">
  <div class="section-block">

  <h2>Resume</h2>
  <p>
    I've done a lot of different things. Teaching, marketing, sales, documentary film work.
    <br>
    If you want some more details on the backstory, feel free to download my resume.
  </p>
  <a class="click-me" href="../images/Sam Granger Resume 2016.pdf"><strong>Click Here to Download</strong></a>
  <a href="#">Presentation Link</a>
  <a href="#">Presentation Link</a>
  <a href="#">Presentation Link</a>
  <a href="#">Presentation Link</a>


</div>
</section>
