<section id="resume">

  <div class="navspace"></div>

  <div class="half-holder">
    <div class="half left-half">
      <div class="content">
        <h2 class="bumped-h">What I've Done</h2>
        <p>I've done a lot of different things besides coding: teaching, editing, coffee, illustrating, sales, marketing, documentary film work...</p>

        <p>If you want some more details on the backstory, here you can download my resume.</p>

        <p>Additionally, if you have some more time on your hands, check out the links to talks I've given, projects I've worked on, and pieces I've written.</p>
        <a class="click-me" href="../{{ site.baseurl }}images/Sam_Granger_Resume_2017.pdf">
          <img id="resume-pic" src="../{{ site.baseurl }}images/resume.png" />
        </a>

      </div>

    </div>

    <div class="half right-half">
      <div class="content">
        <button class="talk-btn">
          <a  href="https://www.youtube.com/watch?v=7DE-Zk_kLYk" target="_blank">For the Life of the World: <br> Letters to the Exiles</a></button>
        <button class="talk-btn">
          <a href="https://www.ancientfaith.com/specials/the_climacus_conference_2017/orthodoxy_and_the_three_wisdoms_of_the_world" target="_blank">Orthodox and the Three Wisdoms of the World</a></button>
        <button class="talk-btn">
          <a href="http://www.lonerganresource.com/audio/contributors/15-LOE2%20(Granger).mp3" target="_blank">LoE 2015: <br> On Being Beautiful</a></button>
        <button class="talk-btn">
          <a href="http://www.lonerganresource.com/audio/contributors/14-LOE06.mp3" target="_blank">LoE 2014: <br> Façadebook</a></button>
        <button class="talk-btn">
          <a href="http://www.ancientfaith.com/specials/the_climacus_conference_2015/beauty_blessed_vision_and_orthodoxy_with_thomas_aquinas" target="_blank">Climacus Conference 2015: <br> Orthodoxy and Aquinas</a></button>
        <button class="talk-btn">
          <a href="https://www.youtube.com/watch?v=SAWOSTUKN1U&feature=youtu.be" target="_blank">Davenport University: <br> Abrahamic Faiths Panel</a></button>
        <button class="talk-btn">
          <a href="http://www.lonerganresource.com/audio/contributors/LOE-2013-06.mp3" target="_blank">LoE 2013: <br> Tale of Two Bernards</a></button>
        <button class="talk-btn">
          <a href="https://hortulus-journal.com/2013/11/01/granger/" target="_blank">Orthodox Readings of Aquinas</a></button>


      </div>

    </div>

  </div>

</section>
