<section id="work">
  <div class="navspace"></div>
  {% include byzantine-runner.html %}
  <div class="center-col">
    <div class="content">
      <h2 class="bumped-h">How I Work</h5>

      <p>Most days you'll find me revamping someone's Wordpress site, coding up some custom features, or building a site from the ground up. I'm like my code: clean, logical, and fun to interact with.</p>

      <p>Taking a vision from sketches on paper to pixels on screen is my joy. The problem solving along the way is my creative process.</p>

      <p>I've always been a jack of all trades and master of some. And I bring to web development a vision I gained through my background in photography, illustration, publishing, and film.</p>

      <p>Here's a handful of images that help you see how I often look at the world. If you'd like to see a portfolio or case study, <a class="click-me" href="#contact"><strong>get a hold of me</strong></a> anytime.</p>

    </div>
  </div>

</section>
