<section id="work">
  <div class="section-block">
    <h2>Work</a></h5>
    <p><em>I've always been a jack of trades and master of some</em></p>

    <p>
      A background in art, photography, and poetry gave me an attentiveness to notice the things around me and the skill needed to translating them into a new medium to share with others.

      Drawing has been in my life ever since I could hold a pencil. Translating the contours of a plant's leaves or the intricacies of a person's expression into the lines on my paper was a training in attention.
    </p>
    <div class="gallery" id="web-gall">
      <div class="thumbnail" id="w1">
      <div class="thumbnail" id="w2">
      <div class="thumbnail" id="3">
      <div class="thumbnail" id="4">
    </div>
    <div class="gallery" id="photo-gall">
      <div class="thumbnail" id="p1">
      <div class="thumbnail" id="p2">
      <div class="thumbnail" id="p3">
      <div class="thumbnail" id="p4">
    </div>
    <div class="gallery" id="art-gall">
      <div class="thumbnail" id="a1">
      <div class="thumbnail" id="a2">
      <div class="thumbnail" id="a3">
      <div class="thumbnail" id="a4">
    </div>

    </div>
  </div>
</section>
