<section id="work">
  <div class="section-block">
    <div class="center-col">

      <h2>Work</h5>

      <p><em>I've always been a jack of trades and master of some</em></p>
      <p>
        A background in art, photography, and poetry gave me an attentiveness to notice the things around me and the skill needed to translating them into a new medium to share with others.
        <br>
        Drawing has been in my life ever since I could hold a pencil. Translating the contours of a plant's leaves or the intricacies of a person's expression into the lines on my paper was a training in attention. I bring this attention and problem-solving to bear on my code work.
        <br>
        Here's a handful of images that help you see how I often look at the world. If you'd like to see a fuller profile, feel free to <a class="click-me" href="#contact"><strong>contact me</strong></a>.
      </p>
    </div>

    <div class="bg-l">
      <div class="col-l">
        <img class="thumbnail" src="images/Odyssey-screenshot.jpg" id="w2" />
        <img class="thumbnail" src="images/IMG_4192.jpg" id="ph3" />
        <img class="thumbnail" src="images/IMG_6541.jpg" id="ph2" />
        <img class="thumbnail" src="images/beckett.png" id="a3" />
        <img class="thumbnail" src="images/sm-Sam-Granger-screenshot.jpg" id="w4" />
        <img class="thumbnail" src="images/leaves.png" id="ph5" />
        <img class="thumbnail" src="images/marmi.png" id="ph1" />
        <img class="thumbnail" src="images/eyes.png" id="a2" />

      </div>
    </div>

    <div class="bg-r">
      <div class="col-r">
        <img class="thumbnail" src="images/canadians-in-street.png" id="ph4" />
        <img class="thumbnail" src="images/accordian-scene.png" id="ph5" />
        <img class="thumbnail" src="images/dreadlocks.png" id="a1" />
        <img class="thumbnail" src="images/sm-Rowster-screenshot.jpg" id="w3" />
        <img class="thumbnail" src="images/IMG_1024.jpg" id="w1" />
        <img class="thumbnail" src="images/palm.jpg" id="a4" />
        <img class="thumbnail" src="images/windows.png" id="a5" />
        <button class="talk-btn" id="gallery-fill">
          <a class="navlink" href="#contact">For More, Contact Me</a></button>

      </div>
    </div>

    </div>
</section>
