/*NAVIGATION*/
nav
  display: table
  background-color: $sg-red-dark
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4)
  height: 50px
  width: 100%
  float: left
  z-index: 1

.nav-scrolled
  position: fixed
  top: 0

.navspace
  height: 50px
  display: block

.no-nav-space
  display: none
