/*Landing Page*/
header
  width: 100vw
  height: 100vh
  //background-image: url('../images/full-img/background.jpg')
  background-image: url('../images/full-img/workspace.jpg')
  background-size: cover
  background-position: center
  background-attachment: fixed
  text-align: center
  overflow: hidden

  h2
    color: $sg-white
  .header-overlay
    position: absolute
    top: 0
    bottom: 0
    right: 0
    left: 0
    opacity: 0.8
    background: rgba(0,0,0,0.7)

  .name-box, .wheel-box
    z-index: 1
    opacity: 0.99

.wheel-box
  #byzantine-wheel
    fill: $sg-white
    max-height: 60vh
    max-width: 80vw

  //h2
    margin-top: -33vh

.name-box
  width: 100%
  text-align: center

@media (max-width: 767px)
  header
    background-image: url('../images/small-img/workspace.jpg')
    //background-attachment: scroll

@media (max-width: 480px)
  header
    background-image: url('../images/small-img/workspace-small.jpg')
    //background-attachment: scroll
