/*WORK PAGE*/
#work
  #byzantine-runner
    position: absolute
    fill: transparent
    stroke: #aaa
    opacity: 0.9

  h3
    text-align: center
    padding-top: 2em

.work-container
  display: flex
  //flex-wrap: wrap
  justify-content: center

  .work-column
    width: 18%
  .mobile-third
    p
      display: none

  .work-icon
    align-items: flex-start
    text-align: center
    padding: 1em

    h3
      display: block

    .icon-box
      animation: pulse 1s linear infinite

    svg, path
      height: 5em
      fill: $sg-red-dark
      animation: fillIn 1s linear forwards
      stroke-dasharray: 1000
      stroke-dashoffset: 1000
      transition: all 0.3s linear

      &:hover
        height: 6em
        margin-top: -1em
        animation-play-state: paused

      text
        fill: transparent

  .wordpress svg
    padding-bottom: 1em

//.help-header
  margin-top: 4.5em

.work-explain
  .button-long
    font-family: $head-font
    display: block
    border: 0.2em solid $sg-red-dark
    color: $sg-red-dark
    font-weight: 700
    width: 75%
    padding: 1em
    margin: 3em auto 0 auto
    text-align: center
    letter-spacing: 0.3em
    opacity: 0

  .faded-button
    opacity: 1
    transition: opacity 1s linear
    transition-delay: 0.5s

    &:hover
      transition: all 0.3s linear
      background: $sg-red-dark
      color: $sg-white


.fade-half
  animation: fadeHalf 0.3s linear

.fade-whole
  animation: fadeWhole 1s linear

.client-quote, .work-explain .left-half p
  color: $sg-gray-light
  font-size: 1.5em
  font-style: italic
  text-align: left
  opacity: 0.5

  ul
    max-width: 50%
    li
      p
        font-family: $body-font
        text-align: left
        padding: 0
        margin: 0

@keyframes pulse
  from
    transform: scale3d(1, 1, 1)

  50%
    transform: scale3d(1.02, 1.02, 1.02)

  to
    transform: scale3d(1, 1, 1)

@keyframes fadeHalf
  from
    opacity: 0

  to
    opacity: 0.5

@keyframes fadeWhole
  from
    opacity: 0

  to
    opacity: 1
@media (min-width: 479px) and (max-width: 990px)
  .work-explain
    .left-half
      width: 100%
    .right-half
      display: none
    p
      display: none
    .button-long
      opacity: 1

  .work-container
    display: block

    .work-column
      display: flex
      width: 100%

      .mobile-third
        display: inline-block
        width: 33%

        .work-icon
          display: inline-block
          .icon-box
            display: inline
        p
          display: inline-block
          margin-left: 0
          font-size: 1.2em
        .my-response
          font-size: 1em
          margin-left: 0

@media (max-width: 478px)


  .work-container
    display: block

    .work-column
      display: block
      width: 100%

      .mobile-third:first-child
        display: inline
        float: left
        width: 33%

      .mobile-third:nth-child(2)
        display: inline
        float: left
        width: 66%

      .mobile-third:last-child
        display: block
        width: 100%

        .work-icon
          padding: 3em 0 0 0

      p
        display: inline-block
        font-size: 1em
        margin: 0.5em

      .client-quote
        font-size: 1.5em
