
// Colors
$sg-red-light: #985a40
$sg-red-dark: #964138
$sg-gray-light: #6c6c6c
$sg-gray-dark: #313131
$sg-hover: #cbcbcb
$sg-white: white
$sg-cream: #f5f0d8

// Fonts
$display-font: 'Cormorant SC', serif
$head-font: 'Quicksand', sans-serif
$body-font: 'Lato', serif

//font-family: 'Crimson Text', serif
//font-family: $display-font
//font-family: $head-font
//font-family: 'Lato', sans-serif
