<!DOCTYPE html>
<!--[if IE 8 ]>
<html id="ie8" lang="en-US">
<![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Sam Granger</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Cormorant+SC:500|Crimson+Text:400i,600i|Lato:300,400|Quicksand" rel="stylesheet">
    <link rel="stylesheet" href="{{ site.baseurl }}css/normalize.css">
    <link rel="stylesheet" href="{{ site.baseurl }}css/style.css">
  </head>

  <body>

  {% include hero.html %}
  {% include nav.html %}

  {% include about.html %}
    <div class="trans-img" id="img-1"></div>
  {% include work.html %}
    <div class="trans-img" id="img-2"></div>
  {% include resume.html %}
    <div class="trans-img" id="img-3"></div>
  {% include contact.html %}

  <script type="text/javascript" src="{{site.baseurl}}/js/jquery-3.0.0.min.js"></script>
  <script type="text/javascript" src="{{site.baseurl}}/js/script.js"></script>

  </body>
</html>
