<!DOCTYPE html>
<!--[if IE 8 ]>
<html id="ie8" lang="en-US">
<![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Sam Granger</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/style.css">
    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
  </head>

  <body>

  {% include hero.html %}
  {% include nav.html %}
  {% include about.html %}
  {% include work.html %}
  {% include resume.html %}
  {% include contact.html %}

  <script type="text/javascript" src="/assets/js/jquery-3.0.0.min.js"></script>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.2/jquery.scrollTo.min.js">
  </script>
<!-- localScroll -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-localScroll/1.4.0/jquery.localScroll.min.js">
  </script>

  <script type="text/javascript" src="/assets/js/script.js"></script>

  </body>
</html>
